@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #EAEAEA;
}

html,
body,
#root {
    margin: 0;
    min-height: 100%;
}
.page {
    width: 100%;
    max-width: 1110px;
    min-height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.page main {
    flex: 1;
}

/* Хедер */
.imgHead{
    display: flex;
    gap: 20px;
}
.imgHead img{
    max-width: 23px;
    height: auto;
}
.Head {
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* футер */
.foot{
    max-height: 150px;
    width: 100%;
    margin: 0px auto;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
    box-sizing: border-box;

    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0 0;
}
.imgFoot{
    max-width: 30px;
    height: 30px;
}
.Logo{
    align-self: flex-start;
    
}
/* добавить якорь */
.LogoFoot p{
    margin: 5px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.footerText{
    display: flex;
    flex-direction: column;
}
.footerText a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    font-size: 17;
    text-decoration: none;
    color: #000000;
}

.footerTextLan{
    display: flex;
    flex-direction: column;
}

.footerTextLan a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    font-size: 17;
    text-decoration: none;
    color: #000000;
    padding-bottom: 50px;
}
.footLan{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}
.footLan .active {
    color: #ff9900;
    font-weight: 700;
}
.footerSocials{
    display: flex;
    gap: 20px;
}

/* Продукт  */
.productGroup{
    margin-bottom:40px;  
}
.productGroup h2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #838383;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.productCard{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background-color:#ffffff;
    
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.productCard img{
    width: 100%;
    max-height: 240px;
    object-fit: contain;
    margin-top: 15px;
    
}
.productTop{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nameHeadphones{
    margin-left: 20px;
    font-size:17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}
.price{
    margin: 0 20px 0 0;
    color: #ff8a00;
    font-weight: 600;
    font-size:17px;

    font-family: 'Montserrat', sans-serif;

}
.productBottom{
    display:flex; 
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    transform: translateY(-10px);
}
/* ДОбавить на кнопкку подсветку при наведение мыши и анмацию нажатия */
.productBottom button{
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding-right: 15px;
}
.productBottom button:hover{
    color: #ff9900;
}
.productRate p{
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #838383;
}
.productRate{
    display: flex;
    gap:10px;
}

.productRate img{
   max-height: 23px;
   max-width: 21px;
   padding-left: 15px;
   
}

.cartIcon {
    position: relative;
    display: inline-block;
    color: blue;
}

.cartCount {
    position: absolute;

    top: -5px;
    right: -5px;

    width: 18px;
    height: 18px;

    background-color: #ffa500;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 11px;
    font-weight: 600;
}