@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.ReproachPage {
    width: 100%;
    max-width: 1110px;
    min-height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.ReproachPage main {
    flex: 1;
    width: 1110px;
    margin: 0 auto;
}
.ReproachPage h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;

    margin: 30px 0 20px;
}
.LogoHead a {
    text-decoration: none;
    color: inherit;
}
.LogoHead p{
    margin: 5px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}
.cardProducts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 650px;
}
.cartCard{
    width: 650px;
    height: 180px;

    background: #ffffff;
    border-radius: 15px;

    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}
.cartProductImg {
    width: 145px;
    height: 136px;

    object-fit: contain;
    padding-bottom: 35px;
    flex-shrink: 0;
}
.cartInfo{
    margin-left: 25px;

    display: flex;
    flex-direction: column;

    justify-content: center;

}
.cartInfo p {
    margin: 0 0 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.cartInfo span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    color: #999999;
}
.rightHalf {
    position: absolute;

    top: 15px;
    right: 25px;

    height: calc(100% - 30px);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-end;
}
.deleteProduct {
    width: 20px;
    height: 20px;

    object-fit: contain;

    cursor: pointer;
}
.cartButton{
    position: absolute;
    height: 30px;
    width:118px;
    left: 35px;
    bottom: 15px;

    display: flex;
    align-items: center;
}
.cartButton button{
    width: 25px;
    height: 25px;

    border: none;
    border-radius: 50%;

    background: #ffce7f;
    color: #FFFFFF;
    font-size: 25px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.cartPrice{
    position: absolute;

    right: 20px;
    bottom: 20px;

    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.cartButton button:hover {
    opacity: 0.8;
}

.cartButton span {
    width: 30px;

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
}