@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Хедер */
.imgHead{
    max-width: 23px;
    height: auto;
}
.Head {
    max-width: 1110px;
    height: 60px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* футер */
.foot{
    max-width: 1110px;
    max-height: 150px;

    margin: 0 auto;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0 0;
}
.imgFoot{
    max-width: 30px;
    height: auto;
}
.Logo{
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 25;
    font-weight: 700;   
}

.footerText{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;  
   font-size: 17;
   color: brown;
}