@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #EAEAEA;
}

html,
body,
#root {
    margin: 0;
    min-height: 100%;
}
.page {
    width: 100%;
    max-width: 1110px;
    min-height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.page main {
    flex: 1;
}

/* Хедер */
.imgHead{
    display: flex;
    gap: 20px;
}
.imgHead img{
    max-width: 23px;
    height: auto;
}
.Head {
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* футер */
.foot{
    max-height: 150px;
    width: 100%;
    margin: 0px auto;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
    box-sizing: border-box;

    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0 0;
}
.imgFoot{
    max-width: 30px;
    height: 30px;
}
.Logo{
    align-self: flex-start;
    
}
.Logo p{
    margin: 5px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.footerText{
    display: flex;
    flex-direction: column;
}
.footerText a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    font-size: 17;
    text-decoration: none;
    color: #000000;
}

.footerTextLan{
    display: flex;
    flex-direction: column;
}

.footerTextLan a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    font-size: 17;
    text-decoration: none;
    color: #000000;
    padding-bottom: 50px;
}
.footLan{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}
.footLan .active {
    color: #ff9900;
    font-weight: 700;
}
.footerSocials{
    display: flex;
    gap: 20px;
}

/* Продукт  */
.productGroup{
    margin-bottom:40px;
    
    
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.productCard{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background-color:#ffffff;
    
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.productCard img{
    max-width: 220px;
    max-height: 240px;
    
}
.productTop{
    display:flex  
}
.productBottom{
    display:flex     
}

